/*EnergyJS StyleSheet | Written By Hemant Dutta https://github.com/HemantDutta/EnergyJS.git*/

/*zIndex Chart*/
/*Navbar: 999*/
/*Container: 100*/
/*zIndex Chart End*/

:root {
    --bg-color: #000000;
}

/*==========Common CSS==========*/

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

::-webkit-scrollbar {
    width: 5px;
    display: none;
}

/*==========Common CSS End==========*/

/*==========Navbar==========*/

nav {
    z-index: 999;
}

/*==========Navbar End==========*/