/*EnergyJS StyleSheet | Written By Hemant Dutta https://github.com/HemantDutta/EnergyJS.git*/

/*zIndex Chart*/
/*Navbar: 999*/
/*Container: 100*/
/*zIndex Chart End*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --bg-color: #000000;
    --blue-1: #79f1f7;
    --blue-2: #80B3FF;
    --blue-3: #98E4FF;
    --blue-4: #B6FFFA;
}

.blue-1 {
    color: var(--blue-1);
}

.blue-2 {
    color: var(--blue-2);
}

.blue-3 {
    color: var(--blue-3);
}

.blue-4 {
    color: var(--blue-4);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*==========Common CSS==========*/

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/*Fonts*/

.anta {
    font-family: "Anta", "Roboto", sans-serif;
}

.kode {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Fonts End*/

/*Chip Design*/

.chip {
    color: white;
    background-image: linear-gradient(to right, rgba(121, 241, 247, 0.4), rgba(128, 179, 255, 0.4), rgba(0, 0, 0.4));
    padding: 10px 24px;
    background-size: 200% 200%;
    background-position: 100% 50%;
    transition: background-position 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}

.chip:hover {
    background-position: 0 0;
}

/*Chip Design End*/

/*Button Styles*/

.energy-button-1 {
    padding: 10px 24px;
    background-color: var(--blue-1);
    cursor: pointer;
    box-shadow: -5px 5px rgba(121, 241, 247, 0.4);
    color: black;
}

.energy-button-2 {
    padding: 10px 24px;
    background-color: var(--bg-color);
    cursor: pointer;
    box-shadow: -5px 5px rgba(128, 128, 128, 0.4);
    color: white;
}

.click {
    transition: all 0.2s ease;
}

.click:active {
    scale: 0.95;
}

/*Button Styles End*/

/*Text Gradient*/

.text-gradient {
    background: linear-gradient(to right, var(--blue-1), var(--blue-2), var(--bg-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Text Gradient End*/

/*==========Common CSS End==========*/

/*==========Navbar==========*/

nav {
    z-index: 999;
}

.big-menu {
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.big-menu.active {
    transform: translateY(0);
}

nav .left ul li a {
    position: relative;
}

nav .left ul li a:after {
    content: "";
    position: absolute;
    bottom: 30%;
    left: 20%;
    transform-origin: left;
    width: 30%;
    height: 2px;
    background-color: var(--blue-2);
    transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);
    transform: scaleX(0);
}

nav .left ul li a:hover:after, nav .left ul li a.active:after {
    transform: scaleX(1);
}

/*==========Navbar End==========*/

/*==========Hero==========*/

.hero {
    background-image: linear-gradient(var(--blue-1) 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), var(--blue-1) calc(100% - 1.5px)), linear-gradient(90deg, #79f1f7 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #79f1f7 calc(100% - 1.5px));
    background-size: 20% 20%;
    animation: moveBg 40s infinite cubic-bezier(0.87, 0, 0.13, 1) alternate-reverse;
}

@keyframes moveBg {
    0% {
        background-size: 20% 20%;
        background-position: 100% 100%;
    }

    10% {
        background-size: 10% 10%;
        background-position: 60% 100%;
    }

    15% {
        background-size: 20% 20%;
        background-position: 80% 120%;
    }

    20% {
        background-size: 40% 40%;
        background-position: 120% 200%;
    }

    25% {
        background-size: 45% 40%;
        background-position: 100% 180%;
    }

    30% {
        background-size: 60% 40%;
        background-position: 20% 80%;
    }

    35% {
        background-size: 50% 35%;
        background-position: 20% 100%;
    }

    40% {
        background-size: 30% 30%;
        background-position: 20% 160%;
    }

    45% {
        background-size: 30% 30%;
        background-position: 30% 160%;
    }

    50% {
        background-size: 40% 40%;
        background-position: 60% 80%;
    }

    60% {
        background-size: 40% 60%;
        background-position: 40% 90%;
    }

    70% {
        background-size: 60% 60%;
        background-position: 150% 60%;
    }

    80% {
        background-size: 50% 50%;
        background-position: 50% 40%;
    }

    90% {
        background-size: 30% 30%;
        background-position: 80% 40%;
    }

    100% {
        background-size: 20% 20%;
        background-position: 100% 100%;
    }
}

.hero .hero-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.8) 55%, rgba(0, 0, 0, 0.6));
}

.hero .hero-content span.high-tag {
    color: white;
    font-size: 24px;
}

.hero .hero-content .cta .download-window {
    bottom: 100%;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.hero .hero-content .cta .download-window.active {
    opacity: 1;
}

@media screen and (max-width: 400px) {
    .hero .hero-content span.head {
        font-size: 56px;
    }
}

/*==========Hero End==========*/

/*==========Features==========*/

.features .feature-grid .grid-image .grid-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
}

@media screen and (max-width: 1291px) {
    .features .feature-grid > * {
        grid-column: 1/-1;
    }
}

@media screen and (max-width: 350px) {
    .features header span.head {
        font-size: 32px;
    }
}

/*==========Features End==========*/

/*==========Playground==========*/
.playground .content .right .effect-container .effect-bar .effect:hover {
    background: linear-gradient(to right, rgba(121, 241, 247, 0.4), rgba(128, 179, 255, 0.4));
}

.playground .content .right .effect-container .effect-bar .effect.active {
    background: linear-gradient(to right, rgba(121, 241, 247, 0.4), rgba(128, 179, 255, 0.4));
    border-bottom: 5px solid white;
}

.playground .content .right .effect-sandbox {
    height: 500px;
    width: 100%;
}

.playground .content .right {
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.playground .content .right .effect-sandbox .sandbox-elem {
    height: 150px;
}

.playground .content .left .head {
    background: linear-gradient(to right, var(--blue-1), var(--blue-2), black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.playground .bg-blob {
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    height: 750px;
    aspect-ratio: 1/1;
    background: linear-gradient(to right, var(--blue-1), var(--blue-2), black);
    border-radius: 100%;
    filter: blur(300px);
    animation: blobOpacity 10s ease infinite alternate;
}

.playground .bg-blob:nth-child(2) {
    filter: blur(80px);
    animation: blobOpacity 10s ease infinite;
}

@keyframes blobOpacity {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.8;
    }

    75% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1028px) {
    .playground .bg-blob {
        bottom: -25%;
    }
}

@media screen and (max-width: 350px) {
    .playground header .head {
        font-size: 32px;
    }
}

/*==========Playground End==========*/

/*==========About & Contact==========*/

.about .about-hero .overlay, .contact .contact-hero .overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), transparent);
}

@media screen and (max-width: 600px) {
    .about .about-hero .overlay, .contact .contact-hero .overlay {
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), transparent);
    }
}

/*==========About & Contact End==========*/

/*==========Docs==========*/

.docs:not(footer .docs) {
    background: #14151a;
}

nav.docs {
    background: #14151a;
}

.docs:not(footer .docs) aside {
    width: 350px;
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    background: #14151a;
}

.docs:not(footer .docs) .side-overlay {
    opacity: 0;
    display: none;
    transition: opacity 0.4s ease;
}

.docs:not(footer .docs) aside .side-close {
    display: none;
}

.docs:not(footer .docs) aside .panel-list li.active {
    border-left: 2px solid white;
}

.docs:not(footer .docs) main .main-container .title-bar {
    display: none;
    background: #14151a;
}

.docs:not(footer .docs) .side-overlay.active {
    opacity: 0.9;
}

.docs:not(footer .docs) aside.active {
    transform: translateX(0);
}

@media screen and (max-width: 1025px) {
    .docs:not(footer .docs) aside {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
    }

    .docs:not(footer .docs) aside .side-close {
        display: initial;
    }

    .docs:not(footer .docs) main .main-container .title-bar {
        display: flex;
    }

}

/*==========Docs End==========*/

/*==========Footer==========*/

footer .footer-container .bottom {
    border-top: 1px solid slategray;
}

@media screen and (max-width: 640px) {
    footer .footer-container .brand {
        grid-column: 1/-1;
        text-align: center;
    }

    footer .footer-container .sitemap {
        grid-column: 1/4;
    }
}

/*==========Footer End==========*/